# Xcode
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png

# Code Injection
iOSInjectionProject/

# Secrets (if any)
*.p8
*.pem
secrets/
